.image-ctnr {
  text-align: center;
  margin: 5px ;
  width: 20%;
}

.avatar-image {
 
 max-width: 50px;
    border-radius: 50%;
}

.findmore-btn {
  margin-top: 8px;
  color: blue
}
.gist-ctnr {
  display: flex;
  gap: 1rem;
  background-color: #8d868652;
  padding: 1rem;
  justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 270px;
    max-width: 500px;

}
 
.gistList-ctnr {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.gist-name {
  margin: 5px 5px 5px 0px; 
  text-align: left;
  font-size: 75%;
  font-weight: 300;
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}